extends ../layout

block content
  div(class='container')
    form(method='post', action='/contacto/crear')
      fieldset
        legend Nuevo contacto
        div(class='form-group')
          label Nombre
          input(type='text', class='form-control', name='nombre', placeholder='Nombre')
        div(class='form-group')
          label Apellido
          input(type='text', class='form-control', name='apellido', placeholder='Apellido')
        div(class='form-group')
          label Correo
          input(type='text', class='form-control', name='correo', placeholder='Correo')
        button(type='submit', class='btn btn-default btn-samll') Crear