<!DOCTYPE html>
<html>
<head>
<title>AgendaJS</title>
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<style>
	body{
	  padding-top: 70px;
	}
</style>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
		<div class="container">
			<button type="button" data-toggle="collapse" data-target=".bs-navbar-collapse" class="navbar-toggle">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
		</div>
		<a href="/" class="navbar-brand">AgendaJS</a>
		<div class="nav-collapse collapse bs-navbar-collapse">
			<ul class="nav navbar-nav pull-right">
				<li><a href="/">Notificaciones<span class="badge">2</span></a></li>
				<li class="dropdown">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle">Contactos
				<b class="caret"></b></a>
					<ul class="dropdown-menu"><li><a href="/contacto/crear">Crear contacto</a></li>
					<li><a href="/contacto">Contactos</a></li>
					<li class="divider"></li>
					<!--li(class='nav-header')-->
					<li><a href="#">Cerrar sesion</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="container">
	<%- body %>
	</div>
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
	<!--script(src='/javascripts/dropdown.js')-->
	<script src="/javascripts/respond.min.js"></script>
	<footer>
	<div class="container"><!--p(class='text-center')--><!--  "TE AMO CARIÑO Y EL DESEO DE MI CORAZÓN ES QUE BUSQUEMOS A DIOS TODOS LOS DÍAS DE NUESTRA VIDA, PARA QUE ÉL NOS GUIE Y NOS DÉ LOS FUNDAMENTOS PARA TENER UN MATRIMONIO VICTORIOSO"-->
	<p class="text-center">Derechos Reservados 2013</p>
	<p>Usando EJS</p>
	</div>
	</footer>
</body>
</html>